div#allTimeStats {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    display: grid;
}

.custom-body {
    font-family: 'F1';
}

.progress {
    height: .5rem;
    margin-left: .2rem;
    margin-right: .2rem;
}

.custom-stats-container {
    display: grid;
    overflow: auto;
    overflow-y: hidden;
}

.custom-button-container {
    display: grid;
    margin-top: 2rem;
}

.custom-player-name {
    font-family: 'F1';
    font-size: large;
}

.custom-versus-icon{
    max-width: 5rem;
}

.custom-player-points {
    display: block;
    font-size: .9rem;
}

a#keep-trade-roster-comp {
    font-size: x-small;
    clear: both;
    display: block;
}

.custom-comparison-container {
    display: grid;
    margin-left: auto;
    margin-right: auto;
    min-width: fit-content;
    width: 75%;
}

.custom-last-five-games {
    font-family: 'F2' !important;
    font-size: .7rem !important;
    word-spacing: -.1rem !important;
}

.custom-last-5-games-header {
    font-size: .45rem;
    margin-bottom: .2rem;
}

.custom-table-icon {
    max-width: 2.5rem;
    padding: .2rem;
    max-height: 2.5rem;
    display: block;
    margin: auto;
}

table#teamComparison {
    margin-top: 4rem;
    color: inherit;
    border-collapse: separate;
    border-spacing: 0 4px;
}

#teamComparison td {
    column-width: 10rem;
    max-width: 10rem;
}

button.btn.btn-primary {
    font-size: x-small;
}

#teamComparisonTool {
    display: none;
}

#teamComparison td{
    column-width: auto;
}

#teamComparison th{
    background: transparent;
}

th#team1Header {
    max-width: 10rem;
    min-width: 10rem;
    border-top-left-radius: 1rem;
}

th#team2Header {
    max-width: 10rem;
    min-width: 10rem;
    border-top-right-radius: 1rem;
}

.btn-group {
    width: fit-content;
    margin-right: auto;
    margin-left: auto;
}

.custom-medium-avatar {
    max-width: 2rem;
    margin: unset;
    box-shadow: 0 .1rem 0.5rem black;
}

.custom-team-name {
    display: block;
    margin-top: .5rem;
    font-family: 'F1';
    color: inherit;
    font-size: 1rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.custom-team-header {
    margin: auto;
    font-size: large;
    word-spacing: .2rem;
    font-family: 'F5';
}

#team1 {
    margin-bottom: 1rem;
}

#team2 {
    margin-bottom: 1rem;
}

div#submitButton {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-family: 'F1';
}

button#teamButton2, button#teamButton1, .dropdown-item, button#submitButton {
    word-spacing: .1rem;    min-width: 18rem;
}

button#teamButton2, button#teamButton1 {
    min-width: 18rem;
}

.btn-secondary {
    background-color: var(--custom-dark-mode-primary);
    border-color: black;
    text-shadow: 1px 1px 1px black;
}

.custom-all-time-stats tr {
    border-color: #39393947;
}

.btn-secondary:hover {
    color: black;
    background-color: var(--custom-light-gray);
    text-shadow: unset;
}

.btn-secondary:active {
    color: black;
    background-color: var(--custom-light-gray);
    text-shadow: unset;
}

table {
    margin-top: .5rem;
    border-radius: 1rem;
}

.custom-all-time-stats {
    max-width: 35rem;
    clear: both;
    width: 30rem;
    margin: 3rem;
    height: fit-content;
    position: relative;
}

table > tbody > tr:last-child {
    border-bottom: transparent;
}

.custom-loading-icon {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.custom-team1-image-display {
    box-shadow: 0 0rem 0.3rem #1151ff;
}

.custom-team2-image-display {
    box-shadow: 0 0rem 0.3rem red;
}

#teamComparison tbody {
    text-align: center;
}

.custom-player-details {
    font-family: 'F1';
    font-size: xx-small;
    word-spacing: .1rem;
    font-style: italic;
    color: var(--custom-dark-mode-text-color);
    border-radius: 1rem;
    cursor: pointer;
    min-width: fit-content;
    width: 5rem;
    margin-left: auto;
    margin-right: auto;
    background: #aaaaaa1c;
    border: 1px solid #7575755c;
}

.custom-player-details:hover {
    color: whitesmoke;
    box-shadow: 0 0 .2rem 0 var(--custom-light-gray);
    transition: all 1s ease;
}

.custom-legend {
    font-size: x-small;
}

tr#wins, tr#avgPtsFor, tr#highScorePlayers, tr#lowScorePlayers, tr#startSitAcc, tr#postseasonWins, tr#postseasonAvgPtsFor, tr#postseasonHighScorePlayers, tr#postseasonLowScorePlayers, 
tr#postseasonStartSitAcc, tr#overallTrades, tr#record, tr#overallAvgPtsFor, tr#overallStartSitAcc {
    height: 5rem;
    border-left-style: none;
    border-right-style: none;
}

.custom-team-superior {
    margin: unset;
    box-shadow: 0 .1rem 0.5rem #ffe500;
    padding: unset !important;
}

.custom-team-inferior {
    background-color: var(--custom-red) !important;
}

#h2hLegend{
    font-size: xx-small;
}

.custom-team1-result, .custom-team2-result {
    font-family: 'F7';
    word-spacing: .2rem;
}

.custom-team1-result img.custom-xsmall-avatar {
    position: absolute;
    top: 0;
    left: 0;
}

.custom-team2-result img.custom-xsmall-avatar {
    position: absolute;
    top: 0;
    right: 0;
}

#teamComparison th {
    border-style: none !important;
}

.h2h-header {
    color: inherit;
    font-size: .6rem;
    word-spacing: .1rem;
}

.custom-losing-team {
    background-color: #ff0000a6 !important;
}

#teamComparison td:nth-child(1) {
    border: 2px solid black;
    padding: 1rem;
    background: var(--custom-dark-mode-primary);
    position: relative;
    color: var(--custom-dark-mode-text-color);
    border-radius: .7rem;
    box-shadow: 0 0 .1rem 0 var(--custom-light-gray);
}

#teamComparison td:nth-child(2) {
    font-size: small;
    background: transparent;
    border: transparent;
    vertical-align: middle;
    padding: unset;
}

#teamComparison td:nth-child(3) {
    border: 2px solid black;
    padding: 1rem;
    background: var(--custom-dark-mode-primary);
    position: relative;
    color: var(--custom-dark-mode-text-color);
    border-radius: .7rem;
    box-shadow: 0 0 .1rem 0 var(--custom-light-gray);
}

#allTimeStats th {
    color: whitesmoke;
    font-weight: normal;
}

.custom-all-time-stats table {
    background: var(--custom-dark-mode-primary);
    box-shadow: 0 0 .2rem 0 #5a5a5a94;
}

td.custom-score {
    text-align: center;
    color: var(--custom-dark-mode-text-color);
    vertical-align: middle;
    font-family: 'F7';
    text-shadow: 1px 1px 1px black;
}

#teamComparison td {
    vertical-align: middle;
    text-align: center;
}

.custom-table-title {
    text-align: center;
    font-family: 'F1';
    font-size: x-large;
}

.custom-title-details {
    color: var(--custom-dark-gray);
    font-size: .5rem;
}

table#allTimeHighScorerTeam .custom-name {
    margin-right: .5rem;
}

a#statsTab {
    color: inherit;
}

a#teamCompTab {
    color: inherit;
}

table#allTimeLowScorerTeam .custom-name {
    margin-right: .5rem;
}

.custom-small-avatar {
    margin-right: .2rem;
    padding: .1rem;
    background-color: var(--custom-dark-mode-background);
}

.custom-xsmall-avatar {
    max-width: 1.2rem;
    margin-right: .1rem;
    padding: .07rem;
    background-color: var(--custom-light-gray);
    box-shadow: 0 0rem 0.2rem black;
}
.custom-name {
    display: inline;
    vertical-align: middle;
    margin-right: 1.5rem;
    word-spacing: .2rem;
    font-weight: normal;
    color: var(--custom-dark-mode-text-color);
}

.custom-details {
    font-size: x-small;
    vertical-align: middle;
    font-family: 'F2';
    color: var(--custom-light-gray);
    cursor: pointer;
    width: fit-content;
    background: #aaaaaa1c;
    border-radius: 1rem;
    margin-top: .2rem;
    padding: .2rem;
    border: 1px solid #7575755c;
    line-height: 100%;
}

.custom-details:hover {
    background: var(--custom-dark-mode-transparent);
    color: whitesmoke;
    transition: all 1s ease;
    box-shadow: 0 0rem 0.2rem whitesmoke;
}

.custom-details-team, .custom-details-season, .custom-details-week {
    display: inline;
    margin-left: .1rem;
    margin-right: .1rem;
    vertical-align: middle;
}

.custom-details-season, .custom-details-week {
    font-size: .5rem;
}


/*Large laptop display styling*/
@media screen and (max-width: 90rem) {

}

/*Normal Laptop display styling*/
@media screen and (max-width: 64rem) {
}

/*Tablet display styling*/
@media screen and (max-width: 48rem) {

}

/*Large Mobile display styling*/
@media screen and (max-width: 26.875rem) {

    div#allTimeStats {
        width: 100%;
    }

    .custom-team-name {
        font-size: .7rem;
    }

    .custom-title-details {
        color: var(--custom-dark-gray);
        font-size: .35rem;
    }

    .custom-versus-icon {
        max-width: 3rem;
    }

    #teamComparison td:nth-child(1) {
        font-size: .8rem;
    }
    #teamComparison td:nth-child(3) {
        font-size: .8rem;
    }
    .custom-button-container {
        display: flex;
    }

    button#teamButton2, button#teamButton1 {
        font-size: x-small;
        min-width: 10rem;
    }

    #teamComparison td {
        column-width: 8rem;
    }

    #teamComparison td:nth-child(2) {
        font-size: x-small;
    }

    th#team1Header {
        min-width: unset;
    }
    
    th#team2Header {
        min-width: unset;
    }

    .custom-player-name {
        width: 100%;
        display: block;
        word-wrap: break-word;
        word-spacing: normal;
        margin-bottom: .5rem;
        font-size: .7rem;
    }

    tr#highScorePlayers {
        font-size: x-small;
    }

    .custom-player-points {
        font-size: .6rem;
    }

    .custom-player-details {
        font-size: .4rem;
    }

    .custom-comparison-container {
        display: block;
        width: 100%;
    }

    .btn-group {
        display: block;
    }

    #team1Header, #team2Header {
        font-size: .55rem;
    }

    #teamComparison th {
        max-width: 5rem;
    }

    .custom-team-header {
        text-align: center;
    }

    .custom-all-time-stats.custom-div-shadow {
        box-shadow: none;
    }
    .custom-table-icon {
        margin-top: .2rem;
    }

    .custom-body {
        padding: unset;
        display: grid;
        grid-template-rows: auto 1fr auto;
        width: 100%;
        padding-left: .5rem;
        padding-right: .5rem;
    }

    .custom-all-time-stats {
        margin:unset;
        width: 100%;
        margin-bottom: 1rem;
        margin-top: 1rem;
        grid-row: unset !important;
        grid-column: unset !important;
    }

    .custom-all-time-stats:nth-child(odd) {
        float:inline-end;
        clear: inline-end;
    }
    .custom-all-time-stats:nth-child(even) {
        float:inline-start;
        clear: inline-start;
    }

    ul.nav.nav-tabs {
        font-size: .8rem;
        margin-top: 3rem;
    }

    .custom-details {
        display: block;
    }

    .custom-details-team {
        display: inline-flex;
    }

    .custom-table-title {
        font-size: 1.5rem;
    }

}
