.custom-page-title {
    text-align: center;
    margin-top: 1rem;
}

table#LeagueChampsTable {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
}

.custom-team-name {
    font-size: x-large;
}

th {
    vertical-align: middle;
    font-size: 1.3rem;
}