.custom-page-title {
    text-align: center;
    margin-top: 1rem;
}

table#LeagueChampsTable {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
    border: white;
    border-bottom: transparent;
}

tr td {
    max-width: 5rem;
}

.custom-team-name {
    font-size: x-large;
}

.custom-player-name {
    display: inline;
    font-size: small;
}

.custom-finals-player {
    margin-top: 1rem;
}

.custom-player-pts {
    display: inline;
    font-size: small;
    margin-left: 1rem;
}

th {
    vertical-align: middle;
    font-size: 1.3rem;
}

#LeagueChampsTable > tbody > tr:last-child { 
    border-bottom: transparent; 
}

/*Large laptop display styling*/
@media screen and (max-width: 90rem) {

}

/*Normal Laptop display styling*/
@media screen and (max-width: 64rem) {
    table#LeagueChampsTable {
        width: 70%;
    }
}

/*Tablet display styling*/
@media screen and (max-width: 48rem) {
    table#LeagueChampsTable {
        width: 90%;
    }
}

/*Large Mobile display styling*/
@media screen and (max-width: 26.875rem) {

    .custom-page-title {
        margin-top: 3rem;
        margin-bottom: 1rem;
    }

    .custom-team-name {
        font-size: large;
    }

    table#LeagueChampsTable {
        width: 95%;
    }

    tr td {
        max-width: 8rem;
    }
}
