.custom-page-title {
    text-align: center;
}

.custom-loading-icon {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.row {
    gap: 2rem;
}

.custom-year {
    color: whitesmoke;
    border-radius: 1rem;
    background: black;
    width: fit-content;
    margin: auto;
    padding: .3rem;
    margin-top: .3rem;
    padding-top: .1rem;
    padding-bottom: unset;
    font-size: small;
}

.col {
    padding: unset;
    min-width: 20rem;
    background:#575757;
    border-radius: 1rem;
    min-height: 10rem;
    box-shadow: 0 0rem 0.4rem black;
}

.custom-player-container {
    padding:.5rem;
    width: fit-content;
    margin: auto;
    color: whitesmoke;
}

.custom-icon-container {
    justify-content: center;
    display: flex;
}

.custom-lion-image {
    max-width:2rem; 
    margin-left:0.5rem;
    margin-bottom: .2rem;
}

.custom-finals-label{
    display: inline;
}

tr td {
    max-width: 5rem;
    padding: 1rem !important;
}

.custom-label-container{
    color: black;
    border-radius: 1rem;
    box-shadow: 0 0rem 0.4rem black;
    margin: auto;
    margin-bottom: .5rem;
    background: var(--custom-light-gray);
}

.custom-medium-avatar {
    background-color: whitesmoke;
    padding: .1rem;
    position: absolute;
    top: -40px;
    max-width: 2.5rem;
    box-shadow: 0 0rem 0.4rem black;
}

td {
    animation: revealLetter 2s forwards;
}

.custom-team-name {
    font-size: 1.5rem;
    color: whitesmoke;
}

.custom-team {
    position: relative;
    display: grid;
}

.custom-player-name {
    display: inline;
    font-size: small;
}

th {
    width: 15rem;
}

.custom-finals-player {
    padding: .5rem;
    margin: auto;
    margin-top: 1rem;
    color: black;
    width: 75%;
}

.custom-player-pts {
    display: inline;
    font-size: small;
    margin-left: .5rem;
}

th {
    vertical-align: middle;
    font-size: 1.3rem;
}

.custom-title-container {
    display: flex;
    justify-content: center; 
    margin-top: 1rem;
}

.custom-throne-img {
    max-width: 7rem;
    background: #57575730;
    border-radius: 5rem;
    box-shadow: 0 0rem 0.5rem black;
}

#LeagueChampsTable > tbody > tr:last-child { 
    border-bottom: transparent; 
}

/*Large laptop display styling*/
@media screen and (max-width: 90rem) {

}

/*Normal Laptop display styling*/
@media screen and (max-width: 64rem) {
    table#LeagueChampsTable {
        width: 80%;
    }
}

/*Tablet display styling*/
@media screen and (max-width: 48rem) {
    table#LeagueChampsTable {
        width: 100%;
    }
}

/*Large Mobile display styling*/
@media screen and (max-width: 26.875rem) {

    .custom-body {
        margin: 1rem;
    }

    th {
        width: 8rem;
    }

    .custom-title-container {
        margin-top: 3rem;
        margin-bottom: 1rem;
    }

    .custom-team-name {
        font-size: 1.5rem;
    }

    table#LeagueChampsTable {
        width: 95%;
    }

    tr td {
        max-width: 8rem;
    }
}
