.accordion-container {
    padding: .5rem;
    background: transparent;
}

.custom-matchup-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    background: var(--custom-dark-mode-primary);
    border-radius: 1rem;
    padding: 1rem;
    border: 3px solid black;
    padding-left: unset;
    padding-right: unset;
}

.accordion-item {
    background: transparent;
    box-shadow: 0 0rem 0.2rem whitesmoke;
}

#seasonTitle {
    text-align: center; 
    margin-top: 1rem;
}

.row {
    gap: .5rem;
    width: fit-content;
}

.col {
    min-width: 100%;
    display: flex;
    border-radius: 3rem;
    min-height: 2rem;
    border: 2px solid black;
    flex-wrap: initial;
    align-items: center;
    color: black;
    position: relative;
}

.container {
    display: grid;
    width: 25rem;
    gap: .2rem;
}


.custom-player-position {
    width: 2rem;
    position: absolute;
    background: var(--custom-dark-mode-transparent);
    color: white;
    font-family: 'F1';
    padding: .2rem;
    border-radius: 3rem;
    border: 2px solid var(--custom-dark-mode-background);
    text-align: center;
    box-shadow: 0 0rem 0.2rem black;
    font-size: .8rem;
    text-shadow: 1px 1px 1px black;
    top: -11px;
}

.custom-team-table-1 .custom-player-points {
    margin-left: auto;
}

.custom-team-table-2 .custom-player-points {
    margin-right: auto;
}

.custom-team-table-1 .custom-player-position {
    left: -3px;
}

.custom-team-table-2 .custom-player-position {
    right: -3px;
}

.custom-team-table-1 .custom-player-points,  .custom-team-table-2 {
    border-top-left-radius: unset;
    border-bottom-left-radius: unset;
}

.custom-team-table-2 .custom-player-points, .custom-team-table-1 {
    border-top-right-radius: unset;
    border-bottom-right-radius: unset;
}

.custom-team-table-1 .col {
    padding-right: unset;
}

.custom-team-table-2 .col {
    padding-left: unset;
}

.custom-team-table-1 .custom-player-name {
    margin-left: auto;
}

.custom-team-table-2 .custom-player-name {
    margin-right: auto;
}

.custom-player-name {
    text-align: justify;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.custom-player-points {
    font-size: .9rem;
    text-align: center;
    padding: .3rem;
    font-family: 'F7';
    padding-top: .6rem;
    background: #8080806e;
    border-radius: 3rem;
    min-width: 3.2rem;
    height: 100%;
    color: black;
}

.custom-team-details {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: auto;
    margin-top: .5rem;
}

.accordion-button {
    display: grid;
    text-align: center;
}


.custom-matchup-list {
    background: transparent;
}

.custom-team-table {
    padding: .2rem;
    vertical-align: middle;
}

.custom-team-table td{
    padding: .1rem;
}

.custom-body {
    justify-content: center;
    display: flex;
}

.row.table.custom-team-table.custom-team-table-2 {
    margin-left: auto;
}

.row.table.custom-team-table.custom-team-table-1 {
    margin-right: auto;
}

 .custom-team-container-1 .custom-medium-avatar {
    margin:unset;
    margin-right: auto;
}

.custom-team-container-2 .custom-medium-avatar {
    margin:unset;
    margin-left: auto;
}

.custom-winning-score {
    color: green;
}

.custom-losing-score {
    color: red;
}

.custom-matchups {
    width: 70%;
}

.custom-medium-avatar {
    max-width: 3rem;
    grid-column: 1;
    grid-row: 2;
    margin-right: unset;
    border: 3px solid whitesmoke;
    box-shadow: 0 0rem 0.2rem black;
}

.custom-team-score {
    font-size: 1.4rem;
    font-family: 'F7';
    border: 3px black solid;
    text-align: center;
    border-radius: .3rem;
    background: #313131;
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
}

.custom-team-table-2 .col {
    padding-right: unset;
}

.custom-team-table-1 .col {
    padding-left: unset;
}

.custom-team-table-2 .custom-player-points {
    border-right: 2px solid black;
}

.custom-team-table-1 .custom-player-points {
    border-left: 2px solid black;
}

.custom-player-QB {
    background: var(--QB);
}

.custom-player-RB {
    background: var(--RB);
}

.custom-player-WR {
    background: var(--WR);
}

.custom-player-TE {
    background: var(--TE);
}

.custom-player-K {
    background: var(--K);
}

.custom-team-table tr{
    height: 2rem;
}

.custom-team-score-1 {
    grid-row: 1;
    grid-column: 2;
    margin: auto;
}

.custom-team-score-2 {
    grid-row: 1;
    grid-column: 1;
    margin: auto;
}

.custom-medium-avatar-1 {
    grid-row: 1;
    margin: auto;
}

.custom-team-image-container {
    display: grid;
}

.custom-team-container-1 .custom-team-record {
    margin-right: auto;
    margin-top: auto;
    background: var(--custom-dark-mode-transparent);
    border-radius: 1rem;
    padding: .2rem;
    border: 1px solid black;
    box-shadow: 0 0rem 0.2rem black;
}

.custom-team-container-2 .custom-team-record {
    margin-left: auto;
    margin-top: auto;
    background: var(--custom-dark-mode-transparent);
    border-radius: 1rem;
    padding: .2rem;
    border: 1px solid black;
    box-shadow: 0 0rem 0.2rem black;
}

.custom-score-span {
    text-shadow: 1px 1px 1px black;
    margin: auto;
    line-height: 100%;
}

.custom-team-record {
    grid-row: 1;
    grid-column: 1 / -1;
    font-size: .5rem;
    color: whitesmoke;
    text-shadow: 1px 1px 1px black;
}


.custom-medium-avatar-2 {
    grid-row: 1;
    margin: auto;
}

.custom-team-name-container {
    margin: auto;
    font-size: 1.2rem;
    grid-row: 2;
    grid-column: 1 / -1;
    color: whitesmoke;
    text-shadow: 1px 1px 1px black;
}

.custom-team-table-container {
    border-radius: .5rem;
    overflow: auto;
}

/*Large laptop display styling*/
@media screen and (max-width: 90rem) {

}

/*Normal Laptop display styling*/
@media screen and (max-width: 64rem) {
    .custom-matchups {
        width: 95%;
    }
}

/*Tablet display styling*/
@media screen and (max-width: 48rem) {

    .custom-team-table-1 .custom-player-name {
        margin-left: 2rem;
    }

    .custom-team-table-2 .custom-player-name {
        margin-right: 2rem;
    }

    .custom-matchups {
        width: 95%;
    }

    .custom-team-score {
        font-size: 1.5rem;
    }

    .custom-player-name {
        font-size: .9rem;
    }
}

/*Large Mobile display styling*/
@media screen and (max-width: 26.875rem) {

    .custom-team-record {
        font-size: .5rem;
    }

    .container {
        width: 100%;
    }

    .row {
        min-width: fit-content;
        width: 100%;
    }

    .custom-medium-avatar {
        border: 2px solid whitesmoke;
        max-width: 2.7rem;
    }

    .custom-matchup-list{
        padding: unset;
    }

    .custom-team-name {
        font-size: .7rem;
    }

    #seasonTitle {
        margin-top: 3rem;
    }

    .custom-matchups {
        width: 100%;
    }

    .custom-player-points {
        font-size: .7rem;
    }


    table {
        font-size: .7rem;
    }

    .custom-team-table {
        padding: unset;
    }

    .custom-team-table tr{
        height: 5em;
    }

    .custom-player-name {
        font-size: .6rem;
    }

    .custom-player-position {
        font-size: .4rem;
        width: 1.3rem;
        top: -8px;
    }

    .custom-team-table-1 .custom-player-name {
        margin-left: 1.5rem;
    }

    .custom-team-table-2 .custom-player-name {
        margin-right: 1.5rem;
    }

    .custom-player-points {
        padding-top: .5rem;
    }

    .custom-team-score {
        font-size: 1.2rem;
    }
}

/*Medium Mobile display styling*/
@media screen and (max-width: 23.438rem) {
    .custom-player-points {
        min-width: 2.5rem;
    }
}

/*Small Mobile display styling*/
@media screen and (max-width: 20rem) {

}
