.accordion-container {
    padding: .5rem;
}

.custom-matchup-container {
    display: flex;
    justify-content: center;
}

#seasonTitle {
    text-align: center; 
    margin-top: 1rem;
}

.custom-body {
    margin-bottom: 2rem;
}

.accordion-button {
    display: block;
    text-align: center;
    color: var(--custom-dark-blue);
    background-color: var(--custom-light-gray);
    transition: all 1s ease;
}

.accordion-button:hover {
    background-color: var(--custom-dark-blue);
    color: whitesmoke;
}  

.accordion-button:not(.collapsed) {
    background-color: var(--custom-dark-blue);
    color: whitesmoke;
}

.custom-matchup-list {
    background-color: #80808029;
}

.custom-team-table {
    margin-right: 1rem;
    margin-bottom: 2rem;
    width: 18em;
    vertical-align: middle;
}

.custom-team-table-1 td:nth-child(1) {
    text-align: left;
}

.custom-team-table-1 td:nth-child(2) {
    text-align: center;
    padding:unset;
}

.custom-team-table-2 td:nth-child(1) {
    text-align: center;
}

.custom-team-table-2 td:nth-child(2) {
    text-align: center;
    padding:unset;
}

.custom-body {
    justify-content: center;
    display: flex;
}

.custom-winning-score {
    color: green;
}

.custom-losing-score {
    color: red;
}

.custom-matchups {
    width: 70%;
}

.custom-medium-avatar {
    max-width: 2rem;
}

.custom-team-score {
    font-size: 1.4rem;
}

.custom-player-QB {
    background: #ff2a6d91;
}

.custom-player-RB {
    background: #00ceb88f;
}

.custom-player-WR {
    background: #58a7ffb3;
}

.custom-player-TE {
    background: #ffae58ad;
}

.custom-player-K {
    background: #bd66ff8f;
}

/*Large laptop display styling*/
@media screen and (max-width: 90rem) {

}

/*Normal Laptop display styling*/
@media screen and (max-width: 64rem) {
}

/*Tablet display styling*/
@media screen and (max-width: 48rem) {
    .custom-matchups {
        width: 95%;
    }
}

/*Large Mobile display styling*/
@media screen and (max-width: 26.875rem) {

    .custom-team-details {
        height: 5rem;
    }

    .custom-team-name {
        font-size: small;
    }

    #seasonTitle {
        margin-top: 3rem;
    }

    .custom-matchups {
        width: 100%;
    }

    .custom-team-table {
        margin: .5rem;
        margin-top: unset;
        margin-bottom: 2rem;
        width:15em;
    }

    table {
        font-size: .7rem;
    }

    .custom-team-table tr{
        height: 5em;
    }

    .custom-player-name {
        font-size:.6rem;
    }
}

/*Medium Mobile display styling*/
@media screen and (max-width: 23.438rem) {
    .custom-team-table {
        width:14em;
    }
}

/*Small Mobile display styling*/
@media screen and (max-width: 20rem) {
    .custom-team-table {
        width:12em;
    }
}