.custom-league-description {
    position: relative;
    text-align: center;
    width: 50%;
    margin: 0 auto;
    font-family: F2;
    grid-row: 1;
    grid-column: 1;
}

.custom-title {
    text-align: center;
    margin-bottom: 4rem;
    margin-top: 1rem;
}

.custom-body {
    display: grid;
}

.custom-loading-icon {
    margin-bottom: 1rem;
}


.custom-teams {
    grid-row: 2;
    grid-column: 1;
    margin-bottom: 4rem;
    display: grid;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4rem;
    width: 75%;
}

.card-custom {
    color: whitesmoke;
    background-color: var(--custom-dark-mode-primary);
    border: 2px solid black;
    display: block;
    padding: 1rem;
    cursor: pointer;
    width: 100%;
    margin: auto; 
    border-radius: 1rem;
    text-shadow: 1px 1px 1px black;
}

.custom-medium-avatar {
    max-width: 4rem;
    background-color: whitesmoke;
    padding: .1rem;
}

.card-body {
    display: inline;
    padding: unset;
}

.custom-team-card {
    padding: .3rem;
    text-align: center;
    cursor: pointer;
}

.card-custom:hover, .card-custom:active {
    color: whitesmoke;
    background-color: var(--custom-dark-mode-transparent);
    transition: all .75s ease;
    box-shadow: 0 0rem 0.2rem whitesmoke;
}

.card-custom:hover .custom-medium-avatar {
    box-shadow: 0 0rem 0.4rem whitesmoke;
    background-color: whitesmoke;
    transition: all .5s ease;
}

.custom-throne-icon-medium {
    border-radius: 2rem;
    background-color: #a3a3a34a;
}

/*creates 2 columns for teams*/
#team2 {
    grid-column: 2;
}

/*Tablet display styling*/
@media screen and (max-width: 48rem) {

    .custom-body {
        overflow: scroll;
    }
    
}

/*Large Mobile display styling*/
@media screen and (max-width: 26.875rem) {
    .custom-title {
        margin-top: 3rem;
    }
                
    .custom-body {
        overflow: unset;
        padding: unset;
        margin: unset;
        margin-bottom: 4rem;
    }

    .custom-league-description {
        margin-bottom: 2rem;
        width: 95%;
    }

    .custom-team-card {
        width: 100%;
    }

    .custom-teams {
        grid-row: 2;
        grid-column: 1;
        margin-bottom: 1.5rem;
        display: block;
        width: 100%;
    }
}