.custom-league-description {
    position: relative;
    text-align: center;
    width: 50%;
    margin: 0 auto;
    font-family: F2;
    grid-row: 1;
    grid-column: 1;
}

.custom-title {
    text-align: center;
    margin-bottom: 4rem;
    margin-top: 1rem;
}

.custom-body {
    display: grid;
}

.custom-loading-icon {
    margin-bottom: 1rem;
}


.custom-teams {
    grid-row: 2;
    grid-column: 1;
    margin-bottom: 4rem;
    display: grid;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4rem;
}

.card {
    background: var(--custom-transp-blue);;
    border-color: var(--custom-dark-blue);
    color: var(--custom-dark-blue);
    display: block;
    padding: 1rem;
    cursor: pointer;
}

.card-body {
    display: inline;
    padding: unset;
}

.custom-team-card {
    padding: .3rem;
    width: 25rem;
    text-align: center;
    cursor: pointer;
}

.card:hover, .card:active {
    color: #fff;
    background-color: #475664;
    border-color: transparent;
    transition: all .75s ease;
}

.card:hover .custom-medium-avatar {
    background-color: white;
    padding: .1rem;
    transition: all .5s ease;
}

.custom-throne-icon-medium {
    border-radius: 2rem;
    background-color: #a3a3a34a;
}

/*creates 2 columns for teams*/
#team2 {
    grid-column: 2;
}

/*Tablet display styling*/
@media screen and (max-width: 48rem) {

    .custom-body {
        overflow: scroll;
    }
    
}

/*Large Mobile display styling*/
@media screen and (max-width: 26.875rem) {
    .custom-title {
        margin-top: 3rem;
    }
                
    .custom-body {
        overflow: unset;
        padding: unset;
        margin: unset;
    }

    .custom-league-description {
        margin-bottom: 2rem;
        width: 80%;
    }

    .custom-team-card {
        width: 100%;
    }

    .custom-teams {
        grid-row: 2;
        grid-column: 1;
        margin-bottom: 1.5rem;
        display: block;
        margin: unset;
        margin-bottom: 1.5rem;
    }
}