.custom-grid-container {
    overflow: scroll;
    overflow-y: hidden;
    width: fit-content;
    margin: auto;
    background: var(--custom-dark-mode-primary);
    border-radius: 1rem;
    margin-top: 2rem;
    border: 3px solid var(--custom-dark-mode-background);
    box-shadow: 0 0rem 0.2rem #5a5a5a94;
}

.custom-highlighted-item {
    box-shadow: 0  .1rem 0.5rem black;
}

.container.text-center {
    margin-top: 3rem;
}

.custom-button-container {
    margin: 1rem;
}

.btn-primary {
    background-color: var(--custom-light-gray);
    color: var(--custom-dark-mode-background);
    border-color: #000000;
    font-family: 'F7';
    margin-bottom: 1rem;
    font-size: small;
    margin: auto;
}

.btn-primary:hover {
    background-color: #d1d1d19c;
    color: var(--custom-dark-mode-background);
}

.custom-player-position {
    position: absolute;
    top: 0;
    right: 0;
    font-family: 'F7';
    font-size: x-small;
    color: black;
}

.custom-team-logo {
    max-width: 1rem;
    display: inline;
    margin-top: .9rem;
    margin-left: 1rem;
}

.custom-scatter {
    width: 100%;
    margin-top: 2rem;
}

.custom-unhighlighted-item {
    background-color: var(--custom-light-gray) !important;
}

.custom-revert-item {
    background: revert-layer;
}

.row {
    flex-wrap: nowrap;
}

.custom-title {
    text-align: center;
    margin-top: 1rem;
}

.custom-player-nickname {
    font-size: x-small;
    font-style: italic;
    margin: auto;
    height: 1rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
}

.custom-team-name {
    font-size: small;
    margin: auto;
    color: var(--custom-light-gray);
    text-shadow: 1px 1px 1px black;
}

.custom-season-header {
    text-align: center;
    font-size: 2rem;
    font-family: 'F7';
    position: absolute;
    left: 42%;
    color: var(--custom-light-gray);
}

.col {
    height: 8rem;
    background: transparent;
    border-radius: 1rem;
    margin-top: .5rem;
    margin-left: .5rem;
    color: var(--custom-dark-mode-background);
    border: 4px solid black;
}

[data-round="0"] col.col {
    border-color: transparent;
}

.custom-selection-number {
    position: absolute;
    color: black;
    font-family: 'F7';
    font-size: x-small;
}

.custom-pick-container {
    width: 10rem;
    display: grid;
    height: 8rem;
    position: relative;
}

.custom-user {
    color: var(--custom-light-gray);
    border-radius: 1rem;
    font-size: .4rem;
    height: .8rem;
    font-family: 'F7';
    margin-bottom: .3rem;
    padding-top: .2rem;
}

.custom-highlighted-team {
    background: #80808024;
}

.custom-medium-avatar {
    border: 3px solid var(--custom-dark-mode-background);
    margin: auto;
    margin-bottom: unset;
    max-width: 3rem;
    cursor: pointer;
}

.custom-highlighted-icon {
    box-shadow: 0 0rem 0.3rem whitesmoke;
}

.custom-player-college {
    height: .5rem;
    font-size: x-small;
    grid-row: 1;
    grid-column: 1;
}

.custom-player-name {
    margin-top: .5rem;
    color: black;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
}

.custom-player-avatar {
    margin: auto;
    border: 2px solid black !important;
    border-radius:2rem;
}

.custom-QB-position {
    background: var(--QB);
}

.custom-RB-position {
    background: var(--RB);
}

.custom-WR-position {
    background: var(--WR);
}

.custom-TE-position {
    background: var(--TE);
}

.custom-K-position {
    background: var(--K);
}
/*Large laptop display styling*/
@media screen and (max-width: 90rem) {
    .custom-season-header {
        left: 42%;
    }
}

/*Normal Laptop display styling*/
@media screen and (max-width: 64rem) {
    .custom-season-header {
        left: 40%;
    }
}

/*Tablet display styling*/
@media screen and (max-width: 48rem) {    
    .custom-grid-container {
        width: 100%;
    }
}

/*Large Mobile display styling*/
@media screen and (max-width: 26.875rem) {
    .custom-grid-container {
        width: 98%;
    }

    .custom-title {
        margin-top: 3rem;
    }

    .custom-season-header {
        width: unset;
        left: 20%;
    }

}
