table#PowerRankings {
    float: left;
  }
  
  table#RosterTable {
    float: right;
  }
  
  .custom-matchup-week {
    background-color: #e2e3e5;
  }

  .custom-roster-breakdown {
    background-color: #537fab;
    color: whitesmoke;
  }

  .custom-roster-breakdown-shadow {
    box-shadow: 0 0.5rem 1.5rem 0 black;
    border-radius: 10px;
    background-color: #e2e3e5;
  }
  
  .custom-matchup-list {
    background-color: #b9b9b95e;
    border-radius: 8px;
    padding: 10px;
    text-align: justify;
  }
  
  .custom-matchup-list-item {
    background-color:#ffffff00;
    text-align: center;
  }
  
  .custom-rankings {
    width: 40%;
    text-align: justify;
    padding-bottom: 3rem;
  }
  
  .custom-matchups {
    width: 40%;
    text-align: justify;
    padding-bottom: 3rem;
  }
  
  .custom-body {
    margin: 1rem;
    padding: 2rem 2rem;
  }
  
  .custom-matchup-row {
    padding: 10px;
  }
  
  .custom-matchup-player {
    float: right;
    padding: 10px;
  }
  
  .custom-stats-card-body {
    text-align: center;
    font-size: 1.7rem;
    font-style: italic;
  }
  
  .custom-card-inner-body {
    font-size: .8rem;
    font-style: normal;
    padding: .2rem;
  }

/* Custom Mobile responsive display */

  @media screen and (max-width: 37.5rem) {
    .custom-matchups {
      clear: left;
      float: left;
      width: 100%;
      padding-bottom: 1rem;
      padding-top: 1rem;
      padding-bottom: 3rem;
    }
    .custom-rankings {
      width: 100%;
      padding-bottom: 1rem;
      font-size: .8rem;
    }
  
    .custom-matchup-list {
      font-size: .7rem;
    }

    .custom-matchup-player {
      float: left;
    }
  
    table#RosterTable {
      font-size: .8rem;
    }

    .custom-body {
      padding: unset;
    }

    .custom-stats-card-body {
      font-size: 1.1rem;
    }
    
    .custom-card-inner-body {
      font-size: .7rem;
    }
  }