.carousel-control-prev:hover, .carousel-control-next:hover {
  background-color:#79797914;
  }

  table#PowerRankings {
    float: left;
  }
  
  table#RosterTable {
    float: right;
  }
  
  .custom-matchup-week {
    background-color: #e2e3e5;
    transition: all .5s ease;
    text-align: center !important;
  }

  .custom-highscorer-medium {
    max-width: 2rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    margin-left: .5rem;
  }

  .custom-highscorer-small {
    max-width: 1.25rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    margin-left: .5rem;
  }

  .custom-roster-breakdown {
    background-color: #537fab;
    color: whitesmoke;
  }

  .custom-roster-breakdown-shadow {
    box-shadow: 0 0 .5rem 0 black;
    border-radius: 10px;
    background-color: #e2e3e5;
  }
  
  .custom-matchup-list {
    background-color: #b9b9b95e;
    border-radius: 8px;
    padding: 10px;
    text-align: justify;
  }
  
  .custom-matchup-list-item {
    background-color:#ffffff00;
    text-align: center;
  }
  
  .custom-rankings {
    width: 40%;
    text-align: justify;
    padding-bottom: 5rem;
  }
  
  .custom-matchups {
    width: 40%;
    text-align: justify;
    padding-bottom: 5rem;
  }
  
  .custom-body {
    margin: 1rem;
    padding: 2rem 2rem;
    clear: inline-end;
  }
  
  .custom-matchup-row {
    padding: 10px;
  }
  
  .custom-matchup-player {
    float: right;
    padding: 10px;
  }
  
  .custom-stats-card-body {
    text-align: center;
    font-size: 1.7rem;
    font-style: italic;
  }
  
  .custom-card-inner-body {
    font-size: .8rem;
    font-style: normal;
    padding: .2rem;
  }

  .custom-card {
    background: linear-gradient(87deg, transparent, #c36300e0 , #c36300e0 ,transparent);
    color: whitesmoke;
    border: none;
    margin-bottom: 2rem;
  }

  .custom-none-display {
    display: none !important;
  }

  .custom-hidden-row {
    display: none;
  }

  .custom-shown-row {
    display: table-row;
  }

  .custom-block-display {
    display: block;
    text-align: center;
  }

  .custom-link {
    text-align: center;
    padding-top: 1rem;
  }

  .custom-league-positions {
    text-align: center;
    font-size: .6rem;
    padding-bottom: .6rem;
  }
  .custom-bankroll {
    float: left;
    clear: left;
    padding-bottom: 4rem;
    width: 25rem;
    margin-right: 15rem;
  }

  div#currentWeek {
    color: black;
    background: linear-gradient(#99999978, #999999ad);
    border-radius: .4rem;
    padding: .4rem;
    padding-bottom: .1rem;
    display: inline-flex;
    transition: color .5s ease;
    width: fit-content;
    margin-top: 1.5rem;
    position: absolute;
  }

  table#bankrollTable {
    clear: left;
    max-width: 100%;
    text-align: center;
  }

  div#currentWeek:hover {
    background: #537fab;
    color: whitesmoke;
    transition: all .5s ease;
    cursor: help;
  }
  
  .custom-teamname-small {
    display: inline;
    font-size: small;
  }

  .custom-teamname-normal {
    display: inline;
    font-size: unset;
  }

  .custom-carousel {
    clear:inline-end;
    float: left;
    padding-bottom: 4rem;
    width: 30rem;
    text-align: center;
  }
  
  .custom-transaction-carousel {
    text-align: center;
    background: transparent;
    color: black;
    padding: 2rem;
  }

  .custom-playoffs-bracket{
    clear: inline-end;
    float: right;
    padding-bottom: 4rem;
  }

  #custom_transaction_inner {
    border-radius: .7rem;
    max-height: 40rem;
    height: fit-content;
  }

  .custom-add-drop-icon {
    max-width: 1rem;
    display: inline;
    position: absolute;
  }

  .custom-playername-small {
    display: inline;
    font-size: small;
  }

  .custom-playername-normal {
    display: inline;
    font-size: unset;
  }

  .custom-added-players {
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 5rem;
    float: inline-start;
    display: inline;
  }

  .custom-team-div {
    margin-top: 1rem;
    clear: both;
    float: inline-end;
  }

  .custom-dropped-players {
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 5rem;
    float: inline-start;
    clear: inline-start;
    display: inline;
  }

  .custom-date-transaction {
    clear:both;
    position: absolute;
    bottom: 0;
    font-size: small;
  }

  .custom-carousel-item {
    height: fit-content;
    min-height: 30rem;
    transition: all 1s ease;
    color: #5a5a5ade;
    padding:1rem;
  }

  .custom-carousel-item:hover {
    background: #0000001a;
    color: #000000;
    border-radius: .5rem;
}

  legend {
    font-size: x-small;
  }

  @media screen and (max-width: 37.5rem) {
    .custom-matchups {
      clear: left;
      float: left;
      width: 100%;
      padding-bottom: 1rem;
      padding-top: 1rem;
      padding-bottom: 3rem;
    }
    .custom-rankings {
      width: 100%;
      padding-bottom: 1rem;
      font-size: .8rem;
    }
  
    .custom-matchup-list {
      font-size: .7rem;
    }

    .custom-matchup-player {
      float: left;
      clear: left;
    }

    .custom-medium-avatar {
      float: left;
    }
  
    table#RosterTable {
      font-size: .8rem;
    }

    .custom-body {
      padding: unset;
    }

    .custom-stats-card-body {
      font-size: 1.1rem;
    }
    
    .custom-card-inner-body {
      font-size: .7rem;
    } 

    div#currentWeek {
      margin-top: .5rem;
    }

    table#bankrollTable {
      text-align: justify;
      box-shadow: 0 0 .5rem 0 black;
      border-radius: .5rem;
    }

    .custom-bankroll {
      width: 100%;
      float: unset;
      text-align: left;
    }

    .custom-carousel {
      width: 100%;
      max-width: unset;
    }

    .custom-carousel-item {
      color: black;
    }

    div#carouselTransactions {
      background: linear-gradient(0deg, #b9b9b994, transparent, #b9b9b994);
      border-radius: 1rem;
  }
  }
