.custom-title {
    text-align: center;
    margin-top: 1rem;
}

.custom-card {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    background: #575757;
    color: var(--custom-light-gray);
}

a.page-link.page-number:focus {
    color: #fff;
    background-color: var(--custom-dark-blue);
    border-color: var(--custom-blue-gray);
}

.custom-add-drop-icon {
    max-width: 1rem;
    display: inline;
    position: relative;
    z-index: 1;
    left: 8%;
    border-radius: 10px;
    left: 2.8rem;
    background-color: whitesmoke;
}

.custom-loading-icon {
    justify-content: center;
    display: flex;
}

.pagination {
    justify-content: center;
    margin-top: 3rem;
}

a.page-link {
    background: transparent;
    border-color: var(--custom-dark-blue);
    color: var(--custom-dark-blue);
}

.page-link:hover {
    color: #fff;
    background-color: var(--custom-dark-blue);
    border-color: var(--custom-blue-gray);
}

.custom-div-shadow {
    border-top-left-radius: unset;
}

.custom-trade-badge {
    bottom: 0;
    left: 0;
    position: absolute;
    max-width: 2.5rem;
    border-radius: 1rem;
    width: 2rem;
}

.custom-handshake-icon {
    max-width: 2.5rem;
    position: absolute;
    right: 0;
    bottom: 0;
}

.custom-playername-large {
    display: inline;
    vertical-align: middle;
}

.custom-waiver-budget {
    padding: .2rem;
    font-size: small;
}

.custom-teamname-small {
    cursor: pointer;
}

.custom-small-avatar {
    background-color: whitesmoke;
    padding: .1rem;
    cursor: pointer;
}

.custom-add-icon {
    left: .5rem;
    top: .5rem;
    border: 1px solid var(--custom-green);
}

.custom-player-position {
    display: inline;
    font-size: .5rem;
    margin-left: .2rem;
}

.custom-player {
    padding: .2rem;
    cursor: pointer;
    position: relative;
}

img.custom-team-logo {
    display: inline;
    max-width: 1rem;
    max-height: 1.5rem;
    margin-left: .2rem;
}

.custom-transaction-row {
    padding: 1.5rem;
    margin-top: 1rem;
}

.custom-draft-pick {
    padding: .2rem;
}

.custom-team-group:nth-child(odd) {
    float: inline-end;
    clear: inline-end;
    text-align: center;
}

.custom-team-group {
    width: 18rem;
    padding: .3rem;
    margin-bottom: 1.5rem;
}

.custom-date {
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    border-radius: .5rem;
}

.custom-transaction-date {
    text-align: center;
    color: whitesmoke;
    margin-bottom: .5rem;
    margin-top: .5rem;
    font-size: small;
    font-style: italic;
}

.custom-team-group:nth-child(even) {
    float: inline-start;
    text-align: center;
    clear: inline-start;
}

.custom-draft-picks {
    margin-top: .2rem;
    text-align: justify;
}

.custom-draft-pick-round {
    display: inline;
}

.custom-draft-pick-season {
    display: inline;
    font-size: x-small;
    vertical-align: middle;
}

.custom-trade-from-icon {
    max-width: 1rem;
    position: absolute;
    left: 3%;
    bottom: 37%;
    background: black;
    padding: .15rem;
    border-radius: 1rem;
}

.custom-draft-pick-original-owner {
    display: inline;
    font-size: x-small;
    margin-left: .3rem;
    vertical-align: middle;
}

img.custom-xsmall-avatar {
    max-width: 1.2rem;
    position: absolute;
    left: 0;
    top: 0;
    padding: 1px;
    background: #ffd100;
}

.custom-team-container {
    text-align: center;
    font-size: larger;
    border-bottom: 2px solid whitesmoke;
    margin-bottom: .5rem;
    color: whitesmoke;
}

.custom-player:hover {
    background: var(--custom-light-gray);
    color: var(--custom-dark-gray);
    border-radius: .5rem;
    transition: all 1s ease;
}

.custom-draft-pick:hover {
    cursor: default;
    background: var(--custom-light-gray);
    color: var(--custom-dark-gray);
    border-radius: .5rem;
    transition: all 1s ease;
}

.custom-waiver-budget:hover {
    cursor: default;
    background: var(--custom-light-gray);
    color: var(--custom-dark-gray);
    border-radius: .5rem;
    transition: all 1s ease;
}

/*Large laptop display styling*/
@media screen and (max-width: 90rem) {
    .custom-card {
        width: 70%;
    }
}

/*Normal Laptop display styling*/
@media screen and (max-width: 64rem) {
    .custom-card {
        width: 85%;
    }
    .custom-date {
        width: 30%;
    }
}

/*Tablet display styling*/
@media screen and (max-width: 48rem) {
    .custom-card {
        width: 98%;
    }
}

/*Large Mobile display styling*/
@media screen and (max-width: 26.875rem) {
    
    ul#trades-pagination {
        font-size: x-small;
    }
    .custom-title {
        margin-top: 3rem;
    }
    .custom-card {
        width: 95%;
    }
    .custom-date {
        width: 100%;
    }

    .custom-team-group {
        margin-right: auto;
        margin-left: auto;
        float: unset !important;
        margin-top: 2rem;
    }
}