.custom-title {
    text-align: center;
    margin-top: 1rem;
}

.custom-card {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    background: transparent;
}

a.page-link.page-number:focus {
    color: var(--custom-light-gray);
    background-color: var(--custom-dark-mode-secondary);
}

.custom-add-drop-icon {
    max-width: 1rem;
    display: inline;
    position: relative;
    z-index: 1;
    left: 8%;
    border-radius: 10px;
    left: 2.8rem;
    background-color: whitesmoke;
}

.dropdown-item {
    padding-left: .3rem;
}

.pagination {
    justify-content: center;
    margin-top: 3rem;
}

a.page-link {
    background: transparent;
    border-color: var(--custom-dark-mode-secondary);
    color: var(--custom-dark-mode-secondary);
}

.page-link:hover {
    color: var(--custom-light-gray);
    background-color: var(--custom-dark-mode-secondary);
}

.custom-active {
    color: var(--custom-light-gray) !important;
    background-color: var(--custom-dark-mode-secondary) !important;
}

.btn-secondary {
    background-color: #bdbdbdde;
    border-color: black;
    color: var(--custom-dark-mode-primary);
}

.form-control {
    font-size: .8rem;
    background: #bdbdbdde;
    border-color: black;
}

.custom-div-shadow {
    border-top-left-radius: unset;
}

.custom-icon-group {
    grid-column: 1 / -1;
    display: grid;
    padding: unset;
}

.custom-trade-badge {
    max-width: 3.5rem;
    margin: auto;
    grid-column: 1;
    grid-row: 1;
    width: 2.5rem;
}

.custom-handshake-icon {
    max-width: 2.5rem;
    margin-left: auto;
    grid-column: 2;
    grid-row: 1;
}

.custom-playername-large {
    grid-row: 1;
    grid-column: 1;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    word-spacing: .1rem;
}

.custom-waiver-budget {
    font-size: small;
    border-radius: .5rem;
    height: 2rem;
    background: var(--custom-dark-mode-secondary);
    position: relative;
    color: var(--custom-light-gray);
    padding: .2rem;
    padding-top: .3rem;
    border: 1px solid black;
    margin-bottom: .5rem;
}

.custom-teamname-small {
    cursor: pointer;
    margin: auto;
    font-family: 'F2';
    text-shadow: 1px 1px 1px black;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.custom-small-avatar {
    background-color: var(--custom-dark-mode-background);
    padding: .1rem;
    cursor: pointer;
    margin: auto;
    margin-top: .6rem;
    transition: all;
}

.custom-small-avatar:hover {
    box-shadow: 0 0rem .3rem whitesmoke;
    transition: all;
}

.custom-add-icon {
    left: .5rem;
    top: .8rem;
    border: 1px solid #62b01ea3;
    max-width: .8rem;
    background: #ffffff9c;
}

.custom-player-details {
    display: grid;
    margin-right: auto;
    margin-left: -2rem;
}

.custom-player-avatar {
    margin-right: auto;
    border-radius: 1rem;
    height: 35px;
    width: 35px;
    border: unset !important;
}

.custom-player-position, .custom-player-number {
    font-size: .5rem;
}

.custom-details-container {
    display: flex;
    grid-row: 2;
    grid-column: 1/2;
    align-items: center;
    column-gap: .5rem;
    margin-left: auto;
    margin-right: auto;
}

.custom-player {
    cursor: pointer;
    position: relative;
    border-radius: .5rem;
    height: fit-content;
    background: var(--custom-dark-mode-secondary);
    color: var(--custom-light-gray);;
    align-items: center;
    justify-content: center;
    background-image: url(/src/static/images/add-sign.png);
    border: 1px solid black;
    margin-bottom: .5rem;
    display: flex;
    padding-left: .2rem;
    padding-right: .2rem;
}

img.custom-team-logo {
    max-width: 1.5rem;
    max-height: 1.5rem;
}

.custom-transaction-row {
    padding: 1.5rem;
    margin-top: 1.5rem;
}

.custom-draft-pick {
    padding: .2rem;
    border-radius: .5rem;
    height: fit-content;
    background: var(--custom-dark-mode-secondary);
    position: relative;
    color: var(--custom-light-gray);;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    border: 1px solid black;
    margin-bottom: .5rem;
}

.custom-draft-pick .custom-trade-from-icon {
    bottom: 20%;
}

.custom-team-group:nth-child(odd) {
    float: inline-end;
    clear: inline-end;
    text-align: center;
    grid-row: 2;
    grid-column: 2;
}

.custom-team-group:nth-child(even) {
    float: inline-start;
    text-align: center;
    clear: inline-start;
    grid-row: 2;
    grid-column: 1;
}

.custom-team-group {
    display: grid;
    box-shadow: 0 0rem 0.2rem whitesmoke;
    border-radius: 1rem;
    margin: auto;
    margin-top: unset;
    gap: 15px;
    padding-bottom: 2rem;
    padding-top: 1rem;
    height: -webkit-fill-available;
    background: var(--custom-dark-mode-primary);
    min-width: 20rem;
    position: relative;
    min-height: 100%;
    border: 2px solid var(--custom-dark-mode-background);
}

a.page-link {
    background: var(--custom-light-gray);
}

.custom-date {
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    border-radius: .5rem;
}

.custom-transaction-date {
    text-align: center;
    font-size: small;
    grid-column: 1 / -1;
}


.row {
    padding: .5rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: .5rem .5rem;
}


.custom-draft-picks {
    margin-top: .2rem;
    text-align: justify;
}

sup {
    top: -0.9em;
}

.custom-draft-pick-round {
    grid-row: 1;
    grid-column: 1;
    margin-left: auto;
    margin-right: .1rem;
    font-size: 1.2rem;
}

.custom-draft-pick-season {
    display: inline;
    font-size: x-small;
    vertical-align: middle;
    grid-row: 1;
    grid-column: 2;
    margin-right: auto;
    margin-left: .1rem;
    font-style: italic;
}

.custom-trade-from-icon {
    max-width: .8rem;
    left: 5px;
    opacity: .75;
    position: absolute;
    top: 0px;
    background: black;
    padding: .1rem;
    border-radius: 1rem;
}

.custom-total-number-trades-container {
    width: 100%;
    display: flex;
    justify-content: left;
    font-size: .7rem;
}

.custom-total-number-trades {
    margin-left: .2rem;
}

.custom-draft-pick-original-owner {
    display: inline;
    font-size: x-small;
    vertical-align: text-bottom;
    grid-column: 1 / -1;
    font-style: italic;
}

#teamDropdown li{
    display: inline-flex;
    align-items: anchor-center;
    width: 100%;
}

.custom-filtered-team .custom-medium-avatar {
    max-width: 4rem;
    max-height: 4rem;
    padding: 2px;
    background: var(--custom-dark-mode-primary);
    box-shadow: 0 0rem .2rem var(--custom-light-gray);
}

.custom-medium-avatar {
    max-width: 1.75rem;
    margin-right: unset;
    max-height: 1.75rem;
    padding: 1px;
    background: var(--custom-dark-mode-primary);
    margin-left: .3rem;
}

img.custom-xsmall-avatar {
    max-width: 1.2rem;
    left: 0;
    opacity: .75;
    position: absolute;
    margin: auto;
    top: -10px;
    background: #000000b3;
    padding: .1rem;
}


.custom-team-container {
    text-align: center;
    font-size: larger;
    color: var(--custom-light-gray);
    height: 5rem;
    display: grid;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.custom-player:hover {
    background: var(--custom-dark-mode-transparent);
    border-radius: 5rem;
    box-shadow: 0 0rem .2rem whitesmoke;
    transition: all 1.5s ease;
}

.custom-draft-pick:hover {
    cursor: default;
    background: var(--custom-dark-mode-transparent);
    border-radius: 5rem;
    box-shadow: 0 0rem .2rem whitesmoke;
    transition: all 1.5s ease;
}

.custom-waiver-budget:hover {
    cursor: default;
    background: var(--custom-dark-mode-transparent);
    border-radius: 5rem;
    box-shadow: 0 0rem .2rem whitesmoke;
    transition: all 1.5s ease;
}

button#custom-team-selector-input {
    word-spacing: .1rem;    
    min-width: 18rem;
    font-size: .8rem;
}

.custom-input-date-container {
    width: 8rem;
    margin-left: 1rem;
}

.custom-filters-container {
    text-align: center;
}

.btn-primary {
    font-size: .7rem;
    background-color: #ededed80;
}


#submitButton {
    width: fit-content;
    margin-left: .5rem;
    color: black;
}

#resetButton {
    margin-left: auto;
    margin-right: 1.2rem;
    font-size: .6rem;
    margin-top: .2rem;
}

.custom-filters-container {
    display: grid;
    justify-content: center;
}

/*Large laptop display styling*/
@media screen and (max-width: 90rem) {
    .custom-card {
        width: 70%;
    }
}

/*Normal Laptop display styling*/
@media screen and (max-width: 64rem) {

    .custom-card {
        width: 85%;
    }
    .custom-date {
        width: 30%;
    }

    .custom-teamname-small {
        font-size: 1rem;
    }
}

/*Tablet display styling*/
@media screen and (max-width: 48rem) {

    .custom-input-date-container {
        width: fit-content;
        margin-left: .5rem;
    }

    .form-control {
        font-size: .7rem;
        width: 7rem;
    }

    button#custom-team-selector-input {
        min-width: 14rem;
        font-size: .7rem;
    }

    .custom-card {
        width: 98%;
    }

    .custom-teamname-small {
        font-size: .8rem;
    }

    .custom-playername-large {
        font-size: .65rem;
    }

    .custom-player-position, .custom-player-number {
        font-size: .4rem;
    }

    .custom-draft-pick-round {
        font-size: 1rem;
    }

    .custom-draft-pick-original-owner {
        font-size: .5rem;
    }

    .custom-card {
        overflow: scroll;
    }

    .custom-team-group {
        height: revert;
    }

}

/*Large Mobile display styling*/
@media screen and (max-width: 26.875rem) {

    #endDate {
        margin-left: .2rem;
    }

    .custom-input-date-container {
        margin: auto;
    }

    .custom-dates-container {
        margin-top:.2rem;
    }

    #submitButton {
        margin-top:.3rem;
    }

    #resetButton {
        margin-right: .2rem;
    }

    .custom-player-details {
        margin-left: -1rem;
    }

    #team {
        display: flex;
    }
    
    img.custom-team-logo {
        max-width: .8rem;
        max-height: .8rem;
    }

    .custom-add-icon{
        top: .4rem;
        max-width: .7rem;
    }

    .custom-player-avatar {
        height: 25px;
        width: 25px;
        background-size: auto 30px;
        border-radius: 1rem;
        margin-bottom: .07rem;
    }

    .custom-small-avatar {
        margin-top: .5rem;
        width: 2rem;
    }

    .custom-transaction-row {
        padding: .5rem;
    }

    ul#trades-pagination {
        font-size: x-small;
    }

    .custom-title {
        margin-top: 3rem;
    }

    .custom-card {
        width: 95%;
        overflow: scroll;
    }

    .custom-date {
        width: 100%;
    }

    .custom-team-group {
        padding: .1rem;
        min-width: 10rem;
        height: revert;
    }
}
