.custom-body {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.custom-team-roster {
  clear: inline-end;
  float: inline-start;
  padding-bottom: 4rem;
  text-align: center;
  font-size: small;
  width: 30rem;
  margin: auto;
  margin-top: inherit;
}

.custom-loading-icon {
  margin-bottom: 1rem;
}

.custom-bench-row th {
  padding: .8rem;
  width: 2.2rem;
}

.custom-roster-group {
  margin-bottom: 2rem;
  clear: both;
  display: grid;
}

.custom-team-details-name {
    font-style: italic;
    margin: auto;
    color: white;
    border-radius: 5px;
    background: linear-gradient(87deg, transparent, var(--custom-dark-blue), var(--custom-dark-blue), transparent);
    width: 85%;
}

[data-playerid="5849"] td .custom-player-details {
  margin-left: 1.4rem !important;
  margin-top: -.2rem !important;
}

[data-playerid="5849"] td .custom-tiny-player-avatar {
  margin-top: .8rem;
}

[data-playerid="5849"] td .custom-player-nickname {
  margin-left: 1.4rem;
}

.custom-bench-row .custom-player-nickname {
  margin-bottom: -.4rem;
}

.custom-player-nickname {
  font-size: .5rem;
  position: absolute;
  bottom: 0;
  font-style: italic;
  margin-left: 2.4rem;
  width: max-content;
}


.custom-medium-avatar:hover {
  background-color: white;
  padding: .1rem;
}

.accordion-collapse {
  background-color: var(--custom-transp-blue);
}

.accordion-button {
    display: block;
    text-align: center;
    color: whitesmoke;
    background-color: var(--custom-dark-blue);
    transition: all 1s ease;
}

.custom-qb-roster {
  background-color:var(--QB) !important;
  font-size: large;
  font-size: large;
  border-radius: 5px;
  color: black;
  border: 1px solid black;
  width: 3.5rem;
  padding: .4rem !important;
}
.custom-rb-roster {
  background-color: var(--RB) !important;
  font-size: large;
  border-radius: 5px;
  color: black;
  border: 1px solid black;
  width: 3.5rem;
  padding: .4rem !important;
}
.custom-wr-roster {
  background-color: var(--WR) !important;
  font-size: large;
  border-radius: 5px;
  color: black;
  border: 1px solid black;
  width: 3.5rem;
  padding: .4rem !important;
}
.custom-te-roster {
  background-color: var(--TE) !important;
  font-size: large;
  border-radius: 5px;
  color: black;
  border: 1px solid black;
  width: 3.5rem;
  padding: .4rem !important;
}
.custom-SF-roster {
  background-color: #616161 !important;
  font-size: large;
  border-radius: 5px;
  color: black;
  border: 1px solid black;
  width: 3.5rem;
  padding: .4rem !important;
}
.custom-FLEX-roster {
  background-color: #616161 !important;
  font-size: large;
  border-radius: 5px;
  color: black;
  border: 1px solid black;
  width: 3.5rem;
  padding: .4rem !important;
}
.custom-def-roster {
  background-color: #616161 !important;
  font-size: large;
  border-radius: 5px;
  color: black;
  border: 1px solid black;
  width: 3.5rem;
  padding: .4rem !important;
}
.custom-k-roster {
  background-color: var(--K) !important;
  font-size: large;
  border-radius: 5px;
  color: black;
  border: 1px solid black;
  width: 3.5rem;
  padding: .4rem !important;
}

.custom-player-QB-row {
  background-color: #ff2a6e38;
  border-radius: .5rem;
  padding: .5rem;
  width: 100%;
  align-items: center;
  border: 2px solid #616161;
  animation: revealLetter 1.5s forwards;
}
.custom-player-RB-row {
  background-color: #00ceb926;
  border-radius: .5rem;
  padding: .5rem;
  width: 100%;
  align-items: center;
  border: 2px solid #616161;
  animation: revealLetter 1.5s forwards;
}
.custom-player-WR-row {
  background-color: #58a6ff47;
  border-radius: .5rem;
  padding: .5rem;
  width: 100%;
  align-items: center;
  border: 2px solid #616161;
  animation: revealLetter 2s forwards;
}
.custom-player-TE-row {
  background-color: #ffae5847;
  border-radius: .5rem;
  padding: .5rem;
  width: 100%;
  align-items: center;
  border: 2px solid #616161;
  animation: revealLetter 2s forwards;
}
.custom-player-FLEX-row {
  background-color: #7373732b;
  border-radius: .5rem;
  padding: .5rem;
  width: 100%;
  align-items: center;
  border: 2px solid #616161;
  animation: revealLetter 2.5s forwards;
}
.custom-player-DEF-row {
  background-color: #7373732b;
  border-radius: .5rem;
  padding: .5rem;
  width: 100%;
  align-items: center;
  border: 2px solid #616161;
  animation: revealLetter 3s forwards;
}
.custom-player-SF-row {
  background: #7373732b;
  border-radius: .5rem;
  padding: .5rem;
  width: 100%;
  align-items: center;
  border: 2px solid #616161;
  animation: revealLetter 3s forwards;
}
.custom-player-K-row {
  background-color: #bd66ff29;
  border-radius: .5rem;
  padding: .5rem;
  width: 100%;
  align-items: center;
  border: 2px solid #616161;
  animation: revealLetter 3s forwards;
}

.custom-player-table-group td {
  padding-top: .3rem;
}

.custom-bench-row {
  background-color: #73737347;
  border-radius: .5rem;
  width: 100%;
  border: 2px solid #616161;
  padding: .4rem;
}

.custom-player-table-group {
  border-radius: 1rem;
  background-color: transparent;
  border-color:transparent;
}

.accordion-item {
  background-color: transparent;
}

.custom-team {
  clear: both;
  font-size: large;
  cursor: pointer;
}

.custom-team-logo {
  max-width: 1.5rem;
  max-height: 1.3rem;
  vertical-align: text-bottom;
  margin-left: .3rem;
}

tr {
  margin-top: 1rem;
  display: inline-flex;
  align-items: center;
}

.custom-medium-avatar {
  margin-right: unset;
  cursor: pointer;
}


.accordion-button:hover {
  background-color: transparent;
  color: var(--custom-dark-blue);
}

.custom-stats-stacks-row {
  width: 100%;
}

.custom-stacks-label {
  font-size: x-large;
  float: inline-start;
  margin-bottom: .5rem;
}

.custom-stacks-teamname {
  clear: both;
  font-size: 1rem;
  margin-left: 1.5rem;
  margin-top: 1.5rem;
  border-bottom: .1rem solid;
}

.custom-stacks-player {
  clear: both;
  margin-left: 9%
}

.custom-stats-players-age-label{
  float: inline-start;
  font-size: x-large;
  margin-bottom: 1rem;
}

.custom-stats-players-age {
  clear: both;
}

.custom-stats-players-age-row, .custom-stats-stacks-row, .custom-stats-position-age-row, .custom-stats-position-count-row {
  width: 100%;
}

.custom-stats-position-age-row {
  margin-top: unset;
}

.custom-expand-collapse-button {
  font-size: x-small;
  margin-top: 1rem;
  background: transparent;
  color: var(--custom-dark-blue);
  border-color: var(--custom-dark-blue);
}

#rostersTitle {
  text-align: center; 
  margin-top: 1rem;
}

tr.custom-bench-row td {
  position: relative;
}

.custom-player-stats-container {
  width: 500%;
  position: relative;
  max-width: 24rem;
}

.custom-player-stats-icon {
  max-width: 1.5rem;
  cursor: pointer;
  position: absolute;
  right: 0;
  bottom: 0;
}

.custom-starter-stats-icon {
  max-width: 1.5rem;
  position: absolute;
  right: 0;
  top: 60%;
  cursor: pointer;
}

.custom-injury {
  display: inline;
  margin-right: .2rem;
  margin-left: .2rem;
  word-spacing: -.05rem;
  color: var(--custom-red);
  cursor: default;
}

.custom-injured-reserve {
  display: inline;
  margin-right: .2rem;
  margin-left: .2rem;
  word-spacing: -.05rem;
  color: var(--custom-red);
  cursor: default;
}

.custom-position-age {
  display: inline-flex;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: .5rem;
}

.custom-player-name {
  display: inline-block;
  vertical-align: top;
  font-size: large;
  margin-top: .1rem;
  min-width: 4.6rem;
  text-align: justify;
}

.custom-player-name:hover {
  cursor: default;
}

.custom-stats-label {
  font-size: x-large;
  float: inline-start;
  margin-bottom: .5rem;
}

.custom-position-count {
  clear: both;
  text-align: center;
}

th, td {
  border-bottom: unset;
}

.custom-player-details {
  width: fit-content;
  margin-left: 2.4rem;
  padding: unset;
  margin-top: -.6rem;
  font-size: .5rem;
}

.custom-player-number {
  display: inline;
  margin-right: .3rem;
}

.custom-player-age {
  display: inline;
  margin-right: .2rem;
}

.custom-player-height {
  display: inline;
  margin-right: .2rem;
  margin-left: .2rem;
}

.custom-player-weight {
  display: inline;
  margin-right: .2rem;
  margin-left: .2rem;
  word-spacing: -.05rem;
}

.custom-player-avatar {
  vertical-align: text-top;
  border-radius: 5px;
  background-color: #73737340;
}

/*Large laptop display styling*/
@media screen and (max-width: 90rem) {

  .custom-player-stats-container {
    max-width: 20rem;
  }

    .js-plotly-plot .plotly, .js-plotly-plot .plotly div {
      margin-left: -2rem !important;
      max-width: 5rem !important;
    }

    .custom-medium-avatar {
      float: left;
      margin-left: 45%;
    }
    .custom-roster-group {
      clear: unset;
      overflow: scroll;
      overflow-y: hidden;
    }

    .custom-team-roster {
      max-width: 26rem;
    }

    .custom-position-age {
      margin-left: 1rem;
      margin-right: 1rem;
    }

  }

  /*Normal Laptop display styling*/
  @media screen and (max-width: 64rem) {

    .custom-player-stats-container {
      max-width: 16rem;
    }
    .custom-player-name {
      font-size: unset;
      margin-top: .3rem;
    }

    .custom-player-details {
      margin-top: -.8rem;
    }

    .custom-medium-avatar{
      margin-left: 43%;
    }

    .custom-team-roster {
      max-width: 22rem;
    }

    .custom-position-age {
      margin-left: .5rem;
      margin-right: .5rem;
    }

    .custom-body {
      padding: unset;
      margin: unset;
    }

  }

  /*Tablet display styling*/
  @media screen and (max-width: 48rem) {
    .custom-team-roster {
      margin-right: 1.5rem;
      margin-left: 1.5rem;
    }

    .custom-position-age {
      margin: .5rem;
    }
  }

  /*Large Mobile display styling*/
  @media screen and (max-width: 26.875rem) {

    .custom-player-stats-container {
      max-width: 18rem;
    }

    .custom-position-age {
      -webkit-text-stroke: .5px black;
    }

    [data-playerid="5849"] td .custom-player-details {
      margin-top: -.5rem !important;
   }

    .custom-player-details {
      margin-top: -.7rem;
    }

    .custom-player-table-group td {
      padding-top: .5rem;
   }

    .custom-roster-group {
      margin : unset !important;
    }

    .js-plotly-plot .plotly, .js-plotly-plot .plotly div {
      margin-left: -1.5rem !important;
    }

    .custom-team-logo {
      max-height: 1rem;
    }

    #rostersTitle {
      margin-top: 3rem;
    }

    .custom-player-name {
      font-size: large;
      margin-top: -.2rem;
    }

    .btn-primary {
      font-size: small;
    }

    .custom-team-roster {
      grid-row: unset !important;
      grid-column: unset !important;
      width: 100%;
      max-width: 30rem;
      margin: unset;
    }

    .custom-medium-avatar {
      float: left;
      margin-left: 43%;
    }
  
    .custom-body {
      padding: unset;
      margin: unset;
      width: 100%;
    }

    .custom-FLEX-roster, .custom-SF-roster {
      -webkit-text-stroke: .2px black;
    }

  }

  /*Medium Mobile display styling*/
  @media screen and (max-width: 23.438rem) {
    .custom-medium-avatar {
      margin-left: 42%;
    }

    .custom-player-stats-container {
      max-width: 17rem;
    }
  }

    /*Small Mobile display styling*/
    @media screen and (max-width: 20rem) {
      .custom-medium-avatar {
        margin-left: 39%;
      }
    }
