.custom-team-roster {
    width: 22%;
    clear: inline-end;
    float: inline-start;
    margin-right: 5%;
    margin-left: 6%;
    padding-bottom: 4rem;
    text-align: center;
    font-size: small;
}

.custom-roster-group {
  margin-bottom: 2rem;
  clear: both;
}

.accordion-button {
    display: block;
    text-align: center;
}

.custom-qb-roster {
  color: #ff2a6d;
  font-size: large;
}
.custom-rb-roster {
  color: #00ceb8;
  font-size: large;
}
.custom-wr-roster {
  color: #58a7ff;
  font-size: large;
}
.custom-te-roster {
  color: #ffae58;
  font-size: large;
}
.custom-SF-roster {
  color: #616161;
  font-size: large;
}
.custom-FLEX-roster {
  color: #616161;
  font-size: large;
}
.custom-k-roster {
  color: #bd66ff;
  font-size: large;
}

.custom-player-QB-row {
  background-color: #ff2a6e38;
  border-radius: .5rem;
  padding: .5rem;
  width: 100%;
}
.custom-player-RB-row {
  background-color: #00ceb926;
  border-radius: .5rem;
  padding: .5rem;
  width: 100%;
}
.custom-player-WR-row {
  background-color: #58a6ff47;
  border-radius: .5rem;
  padding: .5rem;
  width: 100%;
}
.custom-player-TE-row {
  background-color: #ffae5847;
  border-radius: .5rem;
  padding: .5rem;
  width: 100%;
}
.custom-player-K-row {
  background-color: #bd66ff29;
  border-radius: .5rem;
  padding: .5rem;
  width: 100%;
}
.custom-player-SF-row {
  background: #7373732b;
  border-radius: .5rem;
  padding: .5rem;
  width: 100%;
}
.custom-player-FLEX-row {
  background-color: #7373732b;
  border-radius: .5rem;
  padding: .5rem;
  width: 100%;
}

.custom-bench-row {
  background-color: #73737347;
  border-radius: .5rem;
  width: 100%;
}

.custom-player-table-group {
  border-radius: 1rem;
  background-color: #e5e5e5;
  border-color:transparent;
}

.accordion-item {
  background-color: transparent;
}

.custom-team {
  clear: both;
}

.custom-team-name {
  cursor: pointer;
}

tr {
  margin-top: 1rem;
  display: inline-flex;
  align-items: center;
}

.custom-medium-avatar {
  margin-right: unset;
}

.accordion-button {
  background: whitesmoke;
}

.accordion-button:hover {
  color: whitesmoke;
}

.custom-stats-stacks-row {
  width: 100%;
}

.custom-stacks-label {
  font-size: x-large;
  float: inline-start;
  margin-bottom: .5rem;
}

.custom-stacks-teamname {
  clear: both;
  font-size: 1rem;
  margin-left: 1.5rem;
  margin-top: 1.5rem;
  border-bottom: .1rem solid;
}

.custom-stacks-player {
  clear: both;
  margin-left: 9%
}

.custom-stats-players-age-label{
  float: inline-start;
  font-size: x-large;
  margin-bottom: .5rem;
}

.custom-stats-players-age {
  clear: both;
}

.custom-stats-players-age-row, .custom-stats-stacks-row, .custom-stats-position-age-row, .custom-stats-position-count-row {
  width: 100%;
}


/*Large laptop display styling*/
@media screen and (max-width: 90rem) {
    .custom-medium-avatar {
      float: left;
      margin-left: 45%;
    }

    .custom-team-roster {
        width: 35%;
    }
    .custom-roster-group {
      clear: unset;
    }

    .custom-team-roster-adjust {
      clear: inline-start;
    }

  }

  /*Normal Laptop display styling*/
  @media screen and (max-width: 64rem) {
    .custom-medium-avatar{
      margin-left: 42%;
    }

    .custom-team-roster {
        width: 40%;
        margin-right: 2.5rem;
        margin-left: 2.5rem;
    }
  }

  /*Tablet display styling*/
  @media screen and (max-width: 48rem) {
    .custom-team-roster {
      margin-right: 1.5rem;
      margin-left: 1.5rem;
    }
  }

  /*Large Mobile display styling*/
  @media screen and (max-width: 26.563rem) {

    .custom-footer-links{
      display: none;
    }

    .custom-team-roster {
        width: 100%;
        margin: unset;
    }

    .custom-medium-avatar {
      float: left;
      margin-left: 43%;
    }
  
    .custom-body {
      padding: unset;
    }

    .custom-qb-roster {
      -webkit-text-stroke: .5px black;
    }
    .custom-rb-roster {
      -webkit-text-stroke: .5px black;
    }
    .custom-wr-roster {
      -webkit-text-stroke: .5px black;
    }
    .custom-te-roster {
      -webkit-text-stroke: .5px black;
    }
    .custom-k-roster {
      -webkit-text-stroke: .5px black;
    }
    .custom-FLEX-roster {
      -webkit-text-stroke: .2px black;
    }
    .custom-SF-roster {
      -webkit-text-stroke: .2px black;
    }

  }

  /*Medium Mobile display styling*/
  @media screen and (max-width: 23.438rem) {
    .custom-medium-avatar {
      margin-left: 42%;
    }
  }

    /*Small Mobile display styling*/
    @media screen and (max-width: 20rem) {
      .custom-medium-avatar {
        margin-left: 40%;
      }
    }
